.SpecialSection {
  border: 0;
}

.special {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.special div h4 {
  display: flex;
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.special div h4 p {
  width: 5rem;
}
.special div > p {
  margin-left: 5rem;
}