.ExhibitionSection{
    .exhibition{
        img{
            margin-bottom: 1rem;
            width: 100%;
        }
        h4{
            margin-bottom: 0.5rem;
        }
        p{
            font-size: 0.9375rem;
        }
    }
}