.ThisMonthSection {
  text-align: center;
  border-bottom: 1px solid #222;
}
.ThisMonthSection img {
  width: 100%;
  max-width: 450px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  cursor: pointer;
}
.ThisMonthSection h4 {
  font-size: 1.25rem;
}