.SubscribeButton {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.75rem;
  width: 180px;
}
.SubscribeButton button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #222;
  color: #fff;
  border-radius: 0.375rem;
  border: 0;
  cursor: pointer;
}
.SubscribeButton button p {
  font-weight: 700;
}