.article {
  display: flex;
  justify-content: space-between;
  padding: 7rem 0 9rem;
  width: 100%;
  border-top: 1px solid #222;
}
.article h3 {
  font-size: 2rem;
}
.article .contents_wrap {
  width: 72%;
}

.news, .exhibition {
  column-count: 2;
  column-gap: 3rem;
}
.news div, .exhibition div {
  break-inside: avoid;
  margin-bottom: 3rem;
}

@media (max-width: 1200px) {
  .article {
    flex-direction: column;
    gap: 3rem;
  }
  .article .contents_wrap {
    width: 100%;
  }
}