

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #222;
}

.logo{
    cursor: pointer;
    img{
        width: 100px;
    }
}
.nav{
    display: flex;
    gap: 2rem;
    font-weight: 700;
    div{
        cursor: pointer;
    }
}
.logSearch{
    display: flex;
    width: 100px;
    justify-content: flex-end;
    gap: 1rem;
    div{
        cursor: pointer;
    }
    svg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}