.MonthlyInfo{
    display: flex;
    gap: 2rem;
    img{
        width: 430px;
        border: 1px solid #ddd;
    }
    .info_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
            font-size: 1.5rem;
        }
        .info_text{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            >div{
                display: flex;
                h4{
                    width: 100px;
                }
                p{
                    line-height: 1.375rem;
                }
            }
        }
    }
}