.MainSection {
  width: 100%;
  height: 85vh;
}

.MainImg {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  max-width: 1200px;
  width: calc(100% - 3rem);
}
.MainImg img {
  width: 500px;
}

.MainContent {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.MainContent .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.MainContent .text img {
  width: 330px;
  margin-bottom: 1rem;
}
.MainContent .text h2 {
  font-size: 1.375rem;
}
.MainContent .text p span {
  font-weight: 600;
}
.MainContent .button {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 200px;
}
.MainContent .button button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #222;
  color: #fff;
  border-radius: 0.375rem;
  border: 0;
  cursor: pointer;
}
.MainContent .button button p {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .MainSection {
    height: auto;
  }
  .MainImg {
    position: relative;
    padding: 5rem 0;
    transform: translateY(0);
  }
  .MainImg img {
    width: 70%;
    max-width: 450px;
  }
  .MainContent {
    justify-content: flex-start;
    gap: 3rem;
    padding-bottom: 5rem;
  }
}