.PastMonthSection .title {
  display: flex;
  gap: 0.75rem;
}
.PastMonthSection .title h3 {
  font-size: 2rem;
}
.PastMonthSection .title select {
  border: 0;
  border-bottom: 1px solid #222;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 0.5rem;
  color: #222;
}
.PastMonthSection .magazine_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.5rem;
  padding: 5rem 0 3rem;
}
.PastMonthSection .magazine_wrapper div {
  text-align: center;
  padding: 1rem 0;
}
.PastMonthSection .magazine_wrapper div img {
  width: 100%;
  border: 1px solid #ddd;
  cursor: pointer;
}
.PastMonthSection .magazine_wrapper div h4 {
  font-size: 1rem;
  margin-top: 1rem;
}